<div class="form-group">
  <label for="number" class="col-md-1 control-label">Number</label>

  <div class="col-md-4">
    {{input type="text"
    value=model.number
    id="number"
    class="form-control"
    placeholder="Number"
    required="true"}}
  </div>
</div>

<div class="form-group">
  <label for="firstName" class="col-md-1 control-label">First Name</label>

  <div class="col-md-4">
    {{input type="text"
    value=model.firstName
    id="firstName"
    class="form-control"
    placeholder="First Name"
    required="true"}}
  </div>
</div>

<div class="form-group">
  <label for="lastName" class="col-md-1 control-label">Last Name</label>

  <div class="col-md-4">
    {{input type="text"
    value=model.lastName
    id="lastName"
    class="form-control"
    placeholder="Last Name"
    required="true"}}
  </div>
</div>

<div class="form-group">
  <label for="position" class="col-md-1 control-label">Position</label>

  <div class="col-md-4">
    {{view "select"
    content=controllers.player.playerPositions
    optionValuePath="content.positionId"
    optionLabelPath="content.positionName"
    value=model.position
    id="position"
    class="form-control"
    placeholder="position"
    required="true"}}
  </div>
</div>

<div class="form-group">
  <label for="height" class="col-md-1 control-label">Height</label>

  <div class="col-md-4">
    {{input type="text"
    value=model.height
    id="height"
    class="form-control"
    placeholder="Height"
    required="true"}}
  </div>
</div>

<div class="form-group">
  <label for="weight" class="col-md-1 control-label">weight</label>

  <div class="col-md-4">
    {{input type="text"
    value=model.weight
    id="weight"
    class="form-control"
    placeholder="weight"
    required="true"}}
  </div>
</div>
