<legend>New Player of {{model.teamName}}</legend>

{{ partial "shared/errors"}}

<form {{action 'save' on="submit"}} class="form-horizontal">

  {{partial "player/edit_fields"}}

  {{partial "shared/form_buttons"}}

</form>