<div class="row">
  <div class="btn-group " role="group">
    <button type="button" class="btn btn-default btn-success" {{action 'gameEvent' player 'ftm'}} >
      FTM
    </button>
    <button type="button" class="btn btn-default" {{action 'gameEvent' player 'fta'}} >FTA</button>
    <button type="button" class="btn btn-default btn-success" {{action 'gameEvent' player 'fgm'}} >
      FGM
    </button>
    <button type="button" class="btn btn-default" {{action 'gameEvent' player 'fga'}} >FGA</button>
    <button type="button" class="btn btn-default btn-success" {{action 'gameEvent' player 'fgm3'}} >
      FGM3
    </button>
    <button type="button" class="btn btn-default" {{action 'gameEvent' player 'fga3'}} >FGA3</button>
    <button type="button" class="btn btn-default btn-warning" {{action 'gameEvent' player 'ast'}} >AST
    </button>
  </div>
</div>
<div class="row">
  <div class="btn-group second-row-group" role="group">
    <button type="button" class="btn btn-default" {{action 'gameEvent' player 'blk'}} >BLK
    </button>
    <button type="button" class="btn btn-default" {{action 'gameEvent' player 'orb'}} >ORB
    </button>
    <button type="button" class="btn btn-default" {{action 'gameEvent' player 'drb'}} >DRB
    </button>
    <button type="button" class="btn btn-default btn-danger" {{action 'gameEvent' player 'los'}} >
      LOS
    </button>
    <button type="button" class="btn btn-default" {{action 'gameEvent' player 'stl'}} >STL
    </button>
    <button type="button" class="btn btn-default btn-danger" {{action 'gameEvent' player 'pf'}} >
      PF
    </button>
    <button type="button" class="btn btn-default" {{action 'gameEvent' player 'pfc'}} >PFC
    </button>
  </div>
</div>