<div class="row">
  <div class="col-md-2 text-right">
    <legend>
      {{model.homeTeam.name}}
    </legend>
    <div class="big-text">{{points.home}}</div>
  </div>
  <div class="col-md-2">
    {{game-timer
      currentTime=timerValue
      startDisabled=canNotStart
      action='gameStarted'}}
  </div>
  <div class="col-md-2">
    <legend>{{model.awayTeam.name}}</legend>
    <div class="big-text">{{points.away}}</div>
  </div>
  <div class="col-md-2 pull-right">
    {{#if model.isStarted}}
      <button type="button" class="btn btn-default btn-warning" {{action 'finishGame'}} >
        Finish Game
      </button>
    {{/if}}
  </div>

</div>
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
      <tr>
        <th>{{model.homeTeam.name}}</th>
        <th>Actions Home</th>
        <th>{{model.awayTeam.name}}</th>
        <th>Actions Away</th>

      </tr>
      </thead>
      <tbody>
      {{#each inGamePlayers as |player|}}
        <tr>
          <td>
            {{view 'select'
              class="form-control"
              content=filteredHomePlayers
              optionValuePath="content.id"
              optionLabelPath="content.number"
              optionDisabledPath="content.selected"
              selection=player.home
              prompt='Select player...'
            }}
          </td>
          <td>
            {{game-buttons player=player.home action='gameEvent'}}
          </td>
          <td>
            {{view 'select'
            class="form-control"
            content=filteredAwayPlayers
            optionValuePath="content.id"
            optionLabelPath="content.number"
            optionDisabledPath="content.selected"
            selection=player.away
            prompt='Select player...'
            }}
          </td>
          <td>
            {{game-buttons player=player.away action='gameEvent'}}
          </td>

        </tr>
      {{/each}}

      </tbody>
    </table>
  </div>
</div>

