<legend>Game statistic: {{model.homeTeam.name}} - {{model.awayTeam.name}} ({{formattedDate model.date}} )</legend>

<h3>Home: {{model.homeTeam.name}}</h3>

{{team-statistic stats=homeTeamStats}}

<h3>Away: {{model.awayTeam.name}}</h3>

{{team-statistic stats=awayTeamStats}}