<div class="container-fluid">
  <legend>
    Team Info
  </legend>

  <div class="row">

  </div>
  <div class="row">
    <div class="col-md-3">
      <h5>{{name}}</h5>

      <p>{{description}}</p>
    </div>
    <div class="col-md-3">
      {{#link-to 'teams.edit' model class="btn btn-default btn-sm"}}Edit Team{{/link-to}}
      {{#link-to 'player.new' (query-params team_id=model.id) class="btn btn-primary btn-sm"}}New Player{{/link-to}}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <legend>Players</legend>

      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Position</th>
              <th>Height</th>
              <th>Weight</th>
              <th>Birth Date</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {{#each player in model.players}}
              <tr>
                <td>{{player.number}}</td>
                <td>{{#link-to 'player.show' player}} {{player.fullName}} {{/link-to}}</td>
                <td>{{player.position}}</td>
                <td>{{player.height}}</td>
                <td>{{player.weight}}</td>
                <td>{{player.birthDate}}</td>
                <td>{{#link-to 'player.edit' player class="btn btn-default btn-xs"}}Edit{{/link-to}}</td>
              </tr>
            {{/each}}
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>

</div>